# Visual Studio Code
.vscode/

# Visual Studio built files
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.libs
*.sbr
*.sdf
ipch/
*.gpState

# Resharper
_ReSharper*/

# Visual Studio 2019
.vs/
/bin/
/obj/